@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #DDD;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #252525;
}

/* Handle on Hover */
::-webkit-scrollbar-thumb:hover {
  background: #333;
}